body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.player {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 25px;
  width: 350px;
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  max-height: 90vh;
  overflow-y: auto;
}

.album-art img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.controls button {
  background: rgba(255,255,255,0.2);
  border: none;
  color: #fff;
  font-size: 22px;
  margin: 5px;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.controls button:hover {
  background: rgba(255,255,255,0.4);
  transform: scale(1.1);
}

.progress-container, .volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#progress, #volume {
  flex: 1;
  width: 120px;
  height: 5px;
  margin: 0 10px;
  background: #ddd;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
}

.bar-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 150px;
  max-width: 400px;
  margin: 0 auto;
  align-items: center;
}

input[type="range"] {
  width: 70%;
  accent-color: #ff6ec4;
}

.playlist {
  margin-top: 10px;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  transition: all 0.3s ease;
}

.playlist ul {
  list-style: none;
  padding: 0;
}

.playlist li {
  padding: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.playlist li:hover {
  background: rgba(255,255,255,0.2);
  border-radius: 100px;
}

.playlist li.active {
  background: rgba(255,255,255,0.4);
  border-radius: 100px;
}

@media screen and (max-width: 480px) {
  .player {
    width: 90%;
    padding: 50px;
  }
    .album-art img {
        width: 150px;
        height: 150px;
    }
}

#toggle-playlist {
  margin: 10px 0;
  padding: 8px 16px;
  background-color: #ee62bf;
  color: white;
  border: 2px solid #cec8eb;
  border-radius: 100px;
  cursor: pointer;
}

.volume-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
}

.volume-container label {
  font-size: 18px;
  color: white;
}



/* Chrome */
#volume::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ee62bf;
  border-radius: 50%;
  border: none;
}
/* Firefox */
#volume::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background: #6c5ce7;
  border-radius: 50%;
  border: none;
}

@media screen and  (max-width: 400px) {
  #volume {
    width: 100px;
    
  }
    
}